<header *ngIf="!auth.userData">
  <!--Mask-->
  <div id="intro" class="view">

    <div class="mask ">

      <div class="d-flex align-items-center h-100">

        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
          Habit Tracker
        </h2>

        <hr class="hr-light" color="white">

        <h4 class="white-text my-4">
          Lorem ipsum la lah blah
        </h4>

        <button type="button" class="btn btn-outline-white">Read more</button>

      </div>

    </div>

  </div>
  <!--/Mask-->
</header>

<div class="container">
  <br>
  <div class="row align-items-center">
    <div class="col " *ngIf="auth.userData">
      <h1>Habit Tracker</h1>
    </div>

    <div class="col text-center " *ngIf="!auth.userData">
      <br>
      <h1>Habit Tracker</h1>
    </div>
    
    <div *ngIf="auth.userData" class="col-auto">
      <img src="{{auth.userData.photoURL}}" class="rounded-circle  img-fluid z-depth-1" alt="{{auth.userData.displayName}}" style="width: 60px">
    </div>

  </div>

  <hr class="main_title">

  <nav>
  </nav>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col text-center" *ngIf="auth.userData">
      <button class="button " mdbBtn (click)="auth.signOut()">Sign Out</button>
    </div>
  </div>
<br><br>
</div>