<header *ngIf="!auth.userData">
  <!--Mask-->
  <div id="intro" class="view">

    <div class="mask ">

      <div class="container-fluid d-flex align-items-center justify-content-center h-100">

        <div class="row d-flex justify-content-center text-center">

          <div class="col-md-10">

            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
              Habit Tracker
            </h2>

            <hr class="hr-light" color="white">

            <h4 class="white-text my-4">
              Build powerful habits and unlock your potential 
            </h4>

            <button type="button" class="btn btn-outline-white">Read More</button>

          </div>

        </div>

      </div>

    </div>

  </div>
  <!--/Mask-->
</header>

<main class="mt-5" *ngIf="!auth.userData">
  <div class="container">

    <!--Section: Best Features-->
    <section id="best-features">

      <h2 class="mb-5">Features</h2>

    </section>
    <hr class="my-5">

    <!--Section: Examples-->
    <section id="examples">

    </section>
    <hr class="my-5">

    <!--Section: Contact-->
    <section id="contact">

    </section>


  </div>
</main>

<div class="container">
  <br>
  <div class="row align-items-center">
    <div class="col " *ngIf="auth.userData">
      <h1>Habit Tracker</h1>
    </div>

    <div class="col text-center " *ngIf="!auth.userData">
      <br>
      <h1>Habit Tracker</h1>
    </div>
    
    <div *ngIf="auth.userData" class="col-auto">
      <img src="{{auth.userData.photoURL}}" class="rounded-circle  img-fluid z-depth-1" alt="{{auth.userData.displayName}}" style="width: 60px">
    </div>

  </div>

  <hr class="main_title">

  <nav>
  </nav>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col text-center" *ngIf="auth.userData">
      <button class="button " mdbBtn (click)="auth.signOut()">Sign Out</button>
    </div>
  </div>
<br><br>
</div>